@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("/fonts/fira-sans/fira-sans-latin-300-normal.woff2") format("woff2"),
    url("/fonts/fira-sans/fira-code-sans-300-normal.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/fira-sans/fira-sans-latin-400-normal.woff2") format("woff2"),
    url("/fonts/fira-sans/fira-code-sans-400-normal.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/fira-sans/fira-sans-latin-500-normal.woff2") format("woff2"),
    url("/fonts/fira-sans/fira-code-sans-500-normal.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/fira-sans/fira-sans-latin-600-normal.woff2") format("woff2"),
    url("/fonts/fira-sans/fira-code-sans-600-normal.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/fira-sans/fira-sans-latin-700-normal.woff2") format("woff2"),
    url("/fonts/fira-sans/fira-code-sans-700-normal.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("/fonts/fira-sans/fira-sans-latin-900-normal.woff2") format("woff2"),
    url("/fonts/fira-sans/fira-code-sans-900-normal.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/source-serif-pro/source-serif-pro-latin-400-normal.woff2") format("woff2"),
    url("/fonts/source-serif-pro/source-serif-pro-latin-400-normal.woff") format("woff");
}