html {
  background-color: #262626;
}

body {
  color: white;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #88ce02;
}
::selection {
  background: #88ce02;
}
